<h1>{{ 'help' | _tr }}</h1>


<div id="helpContent" class="help-content">
	<h2>Allgemein</h2>
	<p>Die Sammlungsdatenbank ermöglicht Ihnen</p>
	<ol>
		<li>Das Suchen von Objekten in allen Sammlungen</li>
		<li>Das Verwalten der dazugehörigen Daten</li>
		<li>Das Verwalten der Objekte</li>
	</ol>
	<h2>Objekte suchen und filtern</h2>
	<p>Die Objektsuche erlaubt Ihnen das Auffinden und filtern von Sammlungsobjekten nach einer großen Zahl von Kriterien.</p>
	<h3>Textsuche</h3>
	<p> Sie können die Textsuche im oberen Bereich nutzen, um z. B. nach PIDs, Bezeichnungen und Ähnlichem zu suchen.</p>
	<figure class="figure my-4 p-3 shadow" style="max-width: 440px">
		<img src="{{ @images }}help/text-search.webp" class="figure-img rounded img-fluid" alt="Text search" width="440" height="145" loading="lazy">
		<figcaption class="figure-caption">
			<p class="card-text">Suche nach PIDs, Bezeichnungen etc.</p>
		</figcaption>
	</figure>
	<h3>Filter</h3>
	<p>Die Filter ermöglichen Ihnen, die Ergebnisse anhand der gewählten Optionen zu reduzieren. Die gewählten Filter addieren sich, das heißt je mehr Filter Sie wählen, desto weniger Ergebnisse erhalten Sie.</p>
	<figure class="figure my-4 p-3 shadow" style="max-width: 442px">
		<img src="{{ @images }}help/filter.webp" class="figure-img rounded img-fluid" alt="Filter" width="442" height="647" loading="lazy">
		<figcaption class="figure-caption">
			<p class="card-text">Wählen Sie aus verschiedenen Filtern, um das Suchergebnis gezielt einzuschränken.</p>
		</figcaption>
	</figure>
	<h2>Verwalten zugehöriger Daten</h2>
	<p>Unter <em>Daten verwalten </em> lassen sich Metadaten zu den angegebenen Bereichen verwalten.</p>
	<figure class="figure my-4 p-3 shadow" style="max-width: 340px">
		<img src="{{ @images }}help/manage-data-de.webp" class="figure-img rounded img-fluid" alt="Daten verwalten" width="340" height="325" loading="lazy">
		<figcaption class="figure-caption">
			<p class="card-text">Wählen Sie den angegebenen Kategorien, um die zugehörigen Daten zu verwalten.</p>
		</figcaption>
	</figure>
	<h3>Thesaurus</h3>
	<p>Wählen Sie zuerst in der linken Spalte einen Thesaurus.</p>
	<h3>Institute</h3>
	<h3>Berechtigungen</h3>
	<h3>Personen</h3>
	<h3>Ereignisse</h3>
	<h3>Aufbewahrung</h3>
	<h3>Publikationen</h3>
	<h3>Attribute</h3>
	<h3>Dokumente</h3>
	<h2>Objekte verwalten</h2>
</div>