<h2 class="mb-5">Welcome to the the testing environment of the NHM Collection Database!</h2>
<p>To make your time more enjoyable, here are ten objects you can edit however you like! Enjoy!</p>
<ul class="list-unstyled striped mb-5">
	<li class="py-2"><a href="/object/1">Text Object Nr. 1</a></li>
	<li class="py-2"><a href="/object/2">Text Object Nr. 2</a></li>
	<li class="py-2"><a href="/object/3">Text Object Nr. 3</a></li>
	<li class="py-2"><a href="/object/4">Text Object Nr. 4</a></li>
	<li class="py-2"><a href="/object/5">Text Object Nr. 5</a></li>
	<li class="py-2"><a href="/object/6">Text Object Nr. 6</a></li>
	<li class="py-2"><a href="/object/7">Text Object Nr. 7</a></li>
	<li class="py-2"><a href="/object/8">Text Object Nr. 8</a></li>
	<li class="py-2"><a href="/object/9">Text Object Nr. 9</a></li>
	<li class="py-2"><a href="/object/10">Text Object Nr. 10</a></li>
</ul>

<h2>How to test</h2>
<p>We divide the test phase into 3 parts</p>
<ol class="mb-4">
	<li>Testing whether the technical access of the application works for you, i.e. whether the application can be called for you and whether all permissions for it are set</li>
	<li>Testing the functionality of the application:</li>
	<ul>
		<li>do all operations within the software work?</li>
		<li>are the values stored and retrieved correctly or
			does unexpected behavior or error messages occur?</li>
	</ul>
	<li>Testing the stability of the application: do you manage to bypass certain mechanisms of the application, can you somehow crash the application; find out "what you can do". Probably the most amusing part 😊</li>
</ol>

<p>To better filter and retrieve your emails, we ask that you always begin the email subject as follows:<br>
	<strong>Subject: COLLDB DEBUG.</strong>
</p>
<p>
	Of course, the subject can then be extended as desired.
	<br>Example: <strong>COLLDB DEBUG - Fehlerliste 24. 5.</strong>

</p>