<div class="mirador" id="miradorViewer"></div>
<style>

</style>
<script type="module">
	function setViewerHeight() {
		viewer.style.height = window.innerHeight - viewer.offsetTop - 180 + 'px';
	}

	const viewer = document.getElementById('miradorViewer');
	setViewerHeight();

	window.onresize = setViewerHeight;
	// see https://github.com/ProjectMirador/mirador/blob/master/src/config/settings.js
	const mirador = Mirador.viewer({
		id: "miradorViewer",
		manifests: {
			"{{ @manifestPath }}": {
				"provider": "NHMW"
			}
		},
		workspaceControlPanel: {
			enabled: true, // Configure if the control panel should be rendered.  Useful if you want to lock the viewer down to only the configured manifests
		},
		window: {
			allowTopMenuButton: true,
			allowClose: false,
			sideBarOpen: true,
			allowFullscreen: true,
			sideBarPanel: 'canvas',
			defaultView: 'single',
			sideBarOpenByDefault: true,
			sideBarOpen: true,

			views: [ // Only allow the user to select single and gallery view
				{ key: 'single' },
				{ key: 'gallery' },
			],
		},
		thumbnailNavigation: {
			defaultPosition: 'far-right',
			displaySettings: true,
			height: 130,
			width: 100,
		},
		theme: {
			typography: {
				fontSize: 18,
				body1: {
					fontSize: "1.25rem",
					letterSpacing: "0em",
					lineHeight: "1.6em",
				},
				button: {
					fontSize: "3rem",
					letterSpacing: "0.09em",
					lineHeight: "2.25rem",
					textTransform: "uppercase",
				},
				h2: {
					fontSize: "5rem"
				},
				caption: {
					fontSize: "1.2rem",
					letterSpacing: "0.033em",
					lineHeight: "1.6rem",
				},
				overline: {
					fontSize: "1.2rem",
					fontWeight: 500,
					lineHeight: "2em",
					textTransform: "uppercase",
				},
				subtitle1: {
					fontSize: "1.2rem",
					letterSpacing: "0.015em",
					lineHeight: "1.6",
					fontWeight: 300,
				},
				subtitle2: {
					fontSize: "1.2rem",
					fontWeight: 500,
					letterSpacing: "0.02em",
					lineHeight: "1.75",
				},
			}
		},
		"workspaceControlPanel": {
			enabled: false
		},
		"windows": [
			{
				"loadedManifest": "{{ @manifestPath }}",
				"canvasIndex": 1,
				"thumbnailNavigationPosition": 'on',
				"availableViews": ['ThumbnailsView', 'ImageView']
			}
		]
	});

	// var loadingElement = document.createElement('div');
	// loadingElement.id = 'loading';
	// loadingElement.textContent = 'Loading...';
	// document.body.appendChild(loadingElement);

	// mirador.store.subscribe(() => {
	// 	var state = mirador.store.getState();
	// 	var requests = state.infoResponses || {};

	// 	if (Object.values(requests).some(request => request.isFetching)) {
	// 		loadingElement.style.display = 'block';
	// 	} else {
	// 		loadingElement.style.display = 'none';
	// 	}
	// });
</script>