<div class="g-col-6 mb-4">
	<div class="card crudbox w-100" id="{{ @crudBox.id }}" data-crudboxtype="references">
		<div class="card-header d-flex justify-content-between align-items-center">
			<h5>{{ @crudBox.title }}</h5>
		</div>
		<div class="card-body position-relative">
			<label for="newReference">{{ _tr('add') }}</label>
			<div class="input-group mb-4">
				<select class="cat-select form-select w-30" data-msgnocategory="{{ _tr('msgNoCategory') }}" data-nosaveonchange="1">
					<option value="default" data-url="">{{ _tr('category') }}</option>
					<repeat group="{{ @crudBox.categories }}" value="{{ @category }}">
						<option value="{{ @category.IDENTCAT_ID }}" data-url="{{ @category.URL_base }}"  data-shortcode="{{ @category.short_code }}">{{ @category.short_code }}</option>
					</repeat>
				</select>
				<input type="text" class="form-control w-50" id="newReference" data-crudboxadd="1">
				<button type="button" class="input-group-text lh-1 fs-4" data-addbtn="1">+</button>
			</div>
			<ul class="list-group crudbox-entries list-unstyled" data-empty-text="{{ _tr('noEntries') }}" data-crudboxlist="1">
				<repeat group="{{ @crudBox.data }}" value="{{ @value }}">
					<li class="mb-3 crudbox-entry d-flex justify-content-between align-items-center input-group border-bottom py-2 mb-3">
						<input type="hidden" name="IDENTCAT_ID[]" value="{{ @value.IDENTCAT_ID }}" form="{{ @crudBox.formId }}">
						<input type="hidden" name="identifier[]" value="{{ @value.identifier }}" form="{{ @crudBox.formId }}">
						<span class="crudbox-entry-text px-3 flex-grow-1 w-75"><a href="{{ @value.URL_base }}{{ @value.identifier }}" target="_blank">{{ @value.short_code }} - {{ @value.identifier }}</a></span>
						<button type="button" class="btn lh-1 fs-3 text-danger flex-shrink-0" data-delete="1" title="{{ _tr('tr_delete') }}">&times;</button>
					</li>
				</repeat>
			</ul>
			<template id="template_{{ @crudBox.id }}">
				<li class="mb-3 crudbox-entry d-flex justify-content-between align-items-center input-group border-bottom py-2 mb-3">
					<input type="hidden" name="IDENTCAT_ID[]" value="" form="{{ @crudBox.formId }}">
					<input type="hidden" name="identifier[]" value="" form="{{ @crudBox.formId }}">
					<span class="crudbox-entry-text px-3 flex-grow-1 w-75"></span>
					<button type="button" class="btn lh-1 fs-3 text-danger" data-delete="1" title="{{ _tr('delete') }}">&times;</button>
				</li>
			</template>
		</div>
	</div>
</div>