<div class="nhm-treeview mb-5">
	<label for="regionSearch" class="form-label">Countries <i class="fa fa-info-circle" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="top" title="Select all countries of origin relevant for the dataset."></i></label>
	<p><small>Tick all entries that apply in the hierarchy below. Higher level (parent) units are automatically ticked when selecting a child elements (e.g., when “Japan” is selected, “Eastern Asia” and “Asia” are automatically selected and available as search terms for your dataset). Note, that ticking a higher level unit directly (e.g., “Europe”) automatically includes all child elements contained within that unit (which thus cannot be selected individually anymore, unless the higher unit is deselected again).</small></p>
	<div class="input-group mb-3">
		<input type="text" class="form-control tree-search" id="regionSearch" placeholder="Search">
		<button class="btn btn-secondary btn-clearsearch" type="button" data-clearid="regionSearch">Reset</button>
	</div>
	<div class="current-selection">
		<ul class="list-unstyled selected-entries sortable-tree-items" id="selectedRegions">
		</ul>
		<button class="btn btn-secondary btn-clearselected mb-3 visually-hidden" type="button">Clear</button>
	</div>
	<div class="nhm-data-wrapper">
		<div id="regionTree" class="jstree" data-treedata="regionsData" data-jsonpath="/countries">
			<exclude><!-- <include href="{{ @tpl_components.'filter-countries-tree.html'}}"> --></exclude>
		</div>
	</div>
</div>