<div class="nhm-treeview mb-5">
	<label for="chronologySearch" class="form-label">Chronology <i class="fa fa-info-circle" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="top" title="Select any stratigraphic (geology/palaeontology) or cultural period (archaeology) relevant for the dataset  "></i></label>
	<div class="input-group mb-3">
		<input type="text" class="form-control tree-search" id="chronologySearch" placeholder="Search">
		<button class="btn btn-secondary btn-clearsearch" type="button" data-clearid="chronologySearch">Reset</button>
	</div>
	<div class="current-selection">
		<ul class="list-unstyled selected-entries sortable-tree-items" id="selectedChronology">
		</ul>
		<button class="btn btn-secondary btn-clearselected mb-3 visually-hidden" type="button">Clear</button>
	</div>
	<div class="nhm-data-wrapper">
		<div id="chronologyTree" class="jstree" data-treedata="chronologyData" data-jsonpath="/chronology">
			<exclude>
				<!-- <include href="{{ @tpl_components.'filter-chronology-tree.html'}}"> -->
			</exclude>
		</div>
	</div>
</div>