<div id="navObjects" class="nav-objects d-flex gap-4 my-4">
	<nav aria-label="{{ 'objectNavigation' | _tr }}">
		<ul class="pagination">
			<check if="{{ @objectData.OBJ_ID_first ?? null }}">
				<true>
					<li class="page-item">
						<a class="page-link" href="{{ 'object', 'objId=' . @objectData.OBJ_ID_first | alias }}" aria-label="{{ 'firstObject' | _tr}}">&#9198;</a>
					</li>
				</true>
				<false>
					<li class="page-item disabled">
						<a class="page-link" href="#" tabindex="-1" aria-label="{{ 'firstObject' | _tr}}">&#9198;</a>
					</li>
				</false>
			</check>
			<check if="{{ @objectData.OBJ_ID_prev ?? null }}">
				<true>
					<li class="page-item">
						<a class="page-link" href="{{ 'object', 'objId=' . @objectData.OBJ_ID_prev | alias }}" aria-label="{{ 'previousObject' | _tr}}">&#9204;</a>
					</li>
				</true>
				<false>
					<li class="page-item disabled">
						<a class="page-link" href="#" tabindex="-1" aria-label="{{ 'previousObject' | _tr}}">&#9204;</a>
					</li>
				</false>
			</check>

			<li class="page-item ">
				<div id="objectNavSearch" class="px-4">
					<div class="mb-4" id="objectNavSearchForm" data-searchwrapper="1" data-action="{{ 'searchPID' | alias }}">
						<div class="input-group">
							<input type="text" id="objectNavSearchInput" class="form-control" data-searchfield="1" autocomplete="off" data-nosaveonchange="1" aria-label=" PID {{ 'search' | _tr }}" placeholder="PID {{ 'search' | _tr }}">
							<button type="button" class="btn btn-secondary" data-searchbutton="1" aria-label="{{ 'search' | _tr }}">
								<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
							</button>
						</div>
						<div id="objectNavSearchResult" data-nostore="1" class="collapse nhm-search-result position-absolute border p-4 rounded bg-white" data-error=""></div>
					</div>
					<strong x-show="$store.objectRelation.currText" class="d-block mb-2 text-success mb-3" x-text="$store.objectRelation.currText"></strong>
				</div>
			</li>
			<check if="{{ @objectData.OBJ_ID_next ?? null }}">
				<true>
					<li class="page-item">
						<a class="page-link" href="{{ 'object', 'objId=' . @objectData.OBJ_ID_next | alias }}" aria-label="{{ 'nextObject' | _tr}}">&#9205;</a>
					</li>
				</true>
				<false>
					<li class="page-item disabled">
						<a class="page-link" href="#" tabindex="-1" aria-label="{{ 'nextObject' | _tr}}">&#9205;</a>
					</li>
				</false>
			</check>
			<check if="{{ @objectData.OBJ_ID_last ?? null }}">
				<true>
					<li class="page-item">
						<a class="page-link" href="{{ 'object', 'objId=' . @objectData.OBJ_ID_last | alias }}" aria-label="{{ 'lastObject' | _tr}}">&#9197;</a>
					</li>
				</true>
				<false>
					<li class="page-item disabled">
						<a class="page-link" href="#" tabindex="-1" aria-label="{{ 'lastObject' | _tr}}">&#9197;</a>
					</li>
				</false>
			</check>
		</ul>
	</nav>

</div>