<div class="nhm-data-search mb-5" data-idprefix="creators" data-searchurl="/creatorsearch">
	<input type="hidden" name="creators" data-id="creators" id="creators">
	<label for="creatorsSearch" class="form-label">Creators<sup>*</sup> <i class="fa fa-info-circle" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="top" title="Enter the first characters of the last name and pick the person from the list below; the order of creators can be changed by drag & drop; Creators are all persons involved in creation of the published dataset: multiple persons are possible."></i></label>
	<div class="current-selection">
		<ul class="list-unstyled selected-entries sortable-search-items" data-id="creatorsSelection" id="creatorsSelection">
		<repeat group="{{ @creators }}" key="{{ @id }}" value="{{ @val }}">
			<li data-entryid="{{ @id }}" data-text="{{ @val.display_full_name }}">
				<button type="button" class="btn btn-sm btn-close" data-entryid="{{ @id }}"></button>{{ @val.display_full_name }}</li>
		</repeat>
		</ul>
		<button class="btn btn-secondary btn-clearselected mb-3 visually-hidden" type="button" data-id="creatorsClear">Clear</button>
	</div>

	<div class="input-group mb-3">
		<input type="text" class="form-control data-search" id="creatorsSearch" data-id="creatorsSearch" placeholder="Familyname of creator, at least 3 characters long" autocomplete="off">
		<button class="btn btn-secondary btn-clearsearch" type="button" data-clearid="creatorsSearch" id="creatorsClear">Clear</button>
	</div>

	<div class="nhm-search-wrapper">
		<div class="p-2  nhm-data-wrapper">
			<ul class="nhm-data-list list-unstyled" data-id="creatorsResults" id="creatorsResults"></ul>
		</div>
	</div>
</div>