<check if="{{ empty(@data) }}">
	<true>
		<p class="alert alert-warning">{{ _tr('noResult') }}</p>
	</true>
	<false>
		<table class="table table-striped table-sm table-hover">
			<tr>
				<th>Name</th>
				<th>Parent</th>
				<th>Level</th>
			</tr>
			<repeat group="{{ @data }}" value="{{ @entry }}">
				<tr data-entryid="{{ @entry.NODE_ID }}" data-entryname="{{ @entry.node_name }}">
					<td>{{ @entry.node_name_marked | raw }}</td>
					<td>{{ @entry.node_name_parent_marked ?? @entry.node_name_parent | raw }}</td>
					<td>{{ @entry.level_name }}</td>
				</tr>

			</repeat>
		</table>
	</false>
</check>