<check if="{{ @templates ?? false }}">
	<check if="{{ @templates }}">
		<true>
			<h4>{{ 'template' | _tr }}</h4>
			<ul class="list-unstyled striped border border-bottom-0" x-data="" id="templateList">
				<repeat group="{{ @templates }}" value="{{ @template }}">
					<li
						class="p-3 cursor-pointer d-flex justify-content-between align-items-start border-bottom{{ isset(@templateId) && @templateId == @template.TEMP_ID ? ' bg-info-light' : '' }}">
						<div
							@click="window.location='{{ 'assistanttemplate', 'collId=' . @collId . ',tplId=' . @template.TEMP_ID | alias }}'"
							data-href="{{ 'assistanttemplate', 'tplId=' . @template.TEMP_ID | alias }}"
							role="link">
							{{ @template.template_name }}
							<check if="{{ @template.comment }}">
								<div><small>{{ @template.comment }}</small></div>
							</check>
						</div>
						<check if="{{ (@templateId ?? false ) === false ||  @template.TEMP_ID != @templateId }}">
							<button type="button" class="btn btn-delete lh-1 fs-3 text-danger" title="{{ _tr('delete') }}" data-url="{{ 'deletetemplate', 'collId=' . @collId . ',tplId=' . @template.TEMP_ID | alias }}">&times;</button>
						</check>
					</li>
				</repeat>
			</ul>
			<script>
				(function () {
					'use strict';
					const templateList = document.getElementById('templateList');

					templateList.addEventListener('click', function (e) {
						const t = e.target;
						const btn = t.closest('.btn-delete');
						if (btn) {
							const url = btn.dataset.url;
							fetch(url, {
								method: "DELETE",
							})
								.then((response) => {
									if (!response.ok) {
										throw new Error("Network response was not ok");
									}
									return response.json();
								})
								.then((data) => {
									if (data.success) {
										btn.closest('li').remove();
									}
								})
								.catch((error) => {
									console.error("There was a problem deleting the object:", error);
								});

						}
					})
				}());
			</script>
		</true>
		<false>
			<p class="alert alert-warning">{{ 'noTemplates' | _tr }}</p>
		</false>
	</check>
</check>