[globals]
dbServer = 124.456.789.123
dbDatabase = Collections
dbOptions[CharacterSet] = UTF-8
dbOptions[TrustServerCertificate] = 1
dbOptions[APP]=applicationApp
; optional!
dbUser = user
dbPassword = "password"

; dev or prod
appMode = "dev"

; Image Server
imageServer = http://host.tld/iiif/3/

; locale for numbers and dates. Overwrites app.ini default settings Used in document-head.php to set global JS Variables
appLocale = "de-DE"
appDecimalPoint = ","
