<div class="mb-4">
	<div class="card crudbox w-100" id="{{ @templateVars.crudBox.id }}" data-crudboxtype="crudbox">
		<div class="card-header d-flex justify-content-between align-items-center">
			<h5>{{ @templateVars.crudBox.title }}</h5>
		</div>
		<div class="card-body position-relative">
			<div>
				<div class="input-group mb-5">
					<input type="text" class="form-control" placeholder="{{ @templateVars.crudBox.addLabel }}" aria-label="{{ @templateVars.crudBox.addLabel }}" data-crudboxadd="1">
					<button type="button" class="input-group-text lh-1 fs-4" data-addbtn="1">+</button>
				</div>
			</div>

			<ul class="list-group crudbox-entries list-unstyled" data-empty-text="{{ _tr('noEntries') }}" data-crudboxlist="1">
				<repeat group="{{ @templateVars.crudBox.data }}" value="{{ @value }}">
					<li class="mb-3 crudbox-entry d-flex justify-content-between align-items-center border-bottom border-bottom py-2 mb-3">
						<input type="hidden" name="{{ @templateVars.crudBox.dataName }}[]" class="crudbox-input" value="{{ @value[@templateVars.crudBox.dataValue] }}" form="{{ @templateVars.crudBox.formId }}">
						<repeat group="{{ @templateVars.crudBox.additionalData ?? [] }}" value="{{ @value }}" key="{{ @key }}">
						<input type="hidden" name="{{ @key }}[]" value="{{ @value }}">
						</repeat>
						<span class="crudbox-entry-text px-3">{{ @value[@templateVars.crudBox.dataValue] }}</span>
						<button type="button" class="btn lh-1 fs-3 text-danger" data-delete="1" title="{{ _tr('delete') }}">&times;</button>
					</li>
				</repeat>
			</ul>

			<template id="template_{{ @templateVars.crudBox.id }}">
				<li class="mb-3 crudbox-entry d-flex justify-content-between align-items-center border-bottom border-bottom py-2 mb-3">
					<input type="hidden" name="{{ @templateVars.crudBox.dataName }}[]" class="crudbox-input" value="" form="{{ @templateVars.crudBox.formId }}">
					<repeat group="{{ @templateVars.crudBox.additionalData ?? [] }}" value="{{ @value }}" key="{{ @key }}">
					<input type="hidden" name="{{ @key }}[]" value="{{ @value }}">
					</repeat>
					<span class="crudbox-entry-text px-3"></span>
					<button type="button" class="btn lh-1 fs-3 text-danger" data-delete="1" title="{{ _tr('delete') }}">&times;</button>
				</li>
			</template>
		</div>
	</div>
</div>