<div class="card crudbox w-100" id="{{ @templateVars.crudBox.id }}" data-crudboxtype="references">
	<div class="card-header d-flex justify-content-between align-items-center">
		<h5>{{ @templateVars.crudBox.title }}</h5>
	</div>
	<div class="card-body position-relative">
		<div class="nhm-data-search mb-5" data-idprefix="{{ @formField->id }}" data-searchurl="{{ @templateVars.searchurl }}">
			<input type="hidden" name="{{ @formField->name }}" data-id="{{ @formField->id }}" id="{{ @formField->id }}">
			<div class="mb-5" id="{{ @templateVars.crudBox.id }}Search">
				<label for="{{ @templateVars.crudBox.id }}SearchInput">{{ _tr('search') }} event</label>
				<div class="mb-4" id="{{ @templateVars.crudBox.id }}SearchForm" data-searchwrapper="1" data-action="/event/search">
					<div class="input-group">
						<input type="text" id="{{ @templateVars.crudBox.id }}SearchInput" class="form-control" data-searchfield="1" autocomplete="new-password" placeholder="{{ _tr('search') }}">
						<button type="button" class="btn btn-secondary" data-searchbutton="1">{{ _tr('search') }}</button>
					</div>
					<div id="{{ @templateVars.crudBox.id }}SearchResult" data-nostore="1" class="collapse nhm-search-result position-absolute border p-4 rounded bg-white">
					</div>
				</div>
			</div>
			<div class="current-selection">
				xxx
			</div>
			<div class="nhm-search-wrapper">
				<div class="p-2  nhm-data-wrapper">
					<ul class="nhm-data-list list-unstyled" data-id="{{ @formField->id }}Results" id="{{ @formField->id }}Results"></ul>
				</div>
			</div>
		</div>
	</div>
</div>