<div class="g-col-6 mb-4"
	x-init='refData={{ @templateVars.references.data | raw}}'
	x-data='$store.references'>
	<div class="card crudbox accordion" id="{{ @templateVars.references.id }}" data-crudboxtype="references">
		<button class="card-header accordion-button collapsed"
			data-bs-toggle="collapse"
			data-bs-target="#cardBody_{{ @templateVars.references.id }}"
			aria-expanded="true"
			aria-controls="cardBody_{{ @templateVars.references.id }}">
			{{ @templateVars.references.title }}
			<span class="ms-3 badge rounded-pill" :class="{'bg-success-light': refData.length > 0, 'bg-secondary': refData.length == 0}" x-text="refData.length"></span>
		</button>

		<div class="card-body collapse position-relative" id="cardBody_{{ @templateVars.references.id }}">
			<check if="{{ @templateVars.references.readOnly == false }}">
				<true>
					<label for="newReference_{{ @templateVars.references.id }}">{{ _tr('add') }}</label>
					<div class="input-group mb-4">
						<select class="cat-select form-select w-30" data-msgnocategory="{{ _tr('msgNoCategory') }}" data-nosaveonchange="1" x-ref="refCat">
							<option value="" data-url="">{{ _tr('category') }}</option>
							<repeat group="{{ @templateVars.references.categories }}" value="{{ @category }}">
								<option value="{{ @category.IDENTCAT_ID }}" data-url="{{ @category.URL_base }}" data-shortcode="{{ @category.short_code }}">{{ @category.short_code }}</option>
							</repeat>
						</select>
						<input type="text" class="form-control w-50" id="newReference_{{ @templateVars.references.id }}" x-ref="refIdentifier" data-msgnovalue="{{ _tr('enterValue') }}">
					</div>
					<div class="mb-4">
						<button type="button" class="btn btn-secondary w-100" @click="$store.references.addReference($refs.refCat, $refs.refIdentifier)" data-error="{{_tr('msgNoReference') }}">{{ _tr('add') }}</button>
					</div>
					<hr class="mb-4">
					<ul class="list-unstyled striped">

						<template x-for="(ref, index) in refData">
							<li class="p-3 crudbox-entry d-flex justify-content-between align-items-start input-group border-bottom py-2 mb-3">
								<input type="hidden" :name="`{{ @templateVars.references.fieldName }}[${index}][IDENTCAT_ID]`" :value="ref.IDENTCAT_ID" form="{{ @templateVars.references.formId }}">
								<input type="hidden" :name="`{{ @templateVars.references.fieldName }}[${index}][Identifier]`" :value="ref.Identifier" form="{{ @templateVars.references.formId }}">
								<div class="crudbox-entry-text flex-grow-1 w-75 px-3">
									<template x-if="ref.URL_base"><a :href="ref.URL_base + ref.Identifier" x-text="ref.short_code + ' - ' + ref.Identifier" target="_blank"></a></template>
									<template x-if="!ref.URL_base"><span x-text="ref.short_code + ' - ' + ref.Identifier"></span></template>
								</div>
								<button class="btn lh-1 fs-3 text-danger" @click="$store.references.deleteReference(index)">&times;</button>
							</li>
						</template>
					</ul>
				</true>
				<false>
					<ul class="list-unstyled striped">
						<template x-for="(ref, index) in refData">
							<li class="p-3">
								<template x-if="ref.URL_base"><a :href="ref.URL_base + ref.Identifier" x-text="ref.short_code + ' - ' + ref.Identifier" target="_blank"></a></template>
								<template x-if="ref.short_code == 'Link'">
									<span>
										<strong x-text="ref.short_code"></strong> -
										<a :href="ref.Identifier" x-text="ref.Identifier" target="_blank"></a>
									</span>
								</template>
								<template x-if="!ref.URL_base && ref.short_code != 'Link'">
									<span>
										<strong x-text="ref.short_code"></strong> -
										<span x-text="ref.Identifier"></span>
									</span>
								</template>
							</li>
						</template>
					</ul>
				</false>
			</check>
		</div>
	</div>
</div>