<div class="mb-5 row">
	<div class="col-6">
		<label for="actionStart" class="form-label">{{ _tr('from') }}</label>
		<input type="date" name="action_start" id="actionStart" class="form-control" x-model="dateStart" @resetsearch.window="dateStart = ''">
	</div>
	<div class="col-6">
		<label for="actionEnd" class="form-label">{{ _tr('to') }}</label>
		<input type="date" name="action_end" id="actionEnd" class="form-control" x-model="dateEnd" @resetsearch.window="dateEnd = ''">
	</div>
</div>

<div class="mb-4">
	<strong>{{ _tr('actions') }}</strong>
	<repeat group="{{ @templateVars.actions }}" key="{{ @key }}" value="{{ @action }}">
		<div class="form-check">
			<input class="form-check-input" name="objectaction[]" type="checkbox" value="{{ @action.ACT_ID }}" id="objectAction_{{ @key }}" x-model="chkActions">
			<label for="objectAction_{{ @key }}" class="form-check-label fw-normal d-flex justify-content-between align-items-center form-label">
				{{ @action['action_name_' . @language]  }}
				<small class="badge badge-light-grey badge-pill">{{ @action.num_entries }}</small>
			</label>
		</div>
	</repeat>
</div>

<exclude>
	<div class="mb-4" id="actionPersonSearch" x-show="context === 'person'">
		<div id="actionPersonSearchForm" data-searchwrapper="1" data-action="{{ 'personsearch' | alias }}">
			<label for="actionPersonSearchInput">{{ _tr('search') }} {{ _tr('person') }}</label>
			<template x-if="currPerson"><strong class="d-block mb-2 text-success" x-text="currPerson"></strong></template>
			<div class="input-group">
				<input type="text" id="actionPersonSearchInput" class="form-control" data-searchfield="1" autocomplete="new-password">
				<button type="button" class="btn btn-secondary" data-searchbutton="1">{{ _tr('search') }}</button>
			</div>
			<div id="actionPersonSearchResult" data-nostore="1" class="collapse nhm-search-result position-absolute border p-4 rounded bg-white"></div>
		</div>
	</div>
	<div id="actionInstituteSearch" x-show="context === 'institute'">
		<div class="mb-4" id="actionInstituteSearchForm" data-searchwrapper="1" data-action="{{ 'institutesearch' | alias }}">
			<label for="actionInstituteSearchInput">{{ _tr('search') }} {{ _tr('institute') }}</label>
			<template x-if="currInstitute"><strong class="d-block mb-2 text-success" x-text="currInstitute"></strong></template>
			<div class="input-group">
				<input type="text" name="institute-search" id="actionInstituteSearchInput" class="form-control" data-searchfield="1" autocomplete="off">
				<button type="button" class="btn btn-secondary" data-searchbutton="1">{{ _tr('search') }}</button>
			</div>
			<div id="actionInstituteSearchResult" data-nostore="1" class="collapse nhm-search-result position-absolute border p-4 rounded bg-white"></div>
		</div>
	</div>
</exclude>