<check if="{{ @templateVars.status.readOnly == false }}">
	<true>
		<div class="g-col-6 mb-4"
			x-data='{
			statusData:{{ @templateVars.status.data | raw}},
			language: "{{ @language }}"
		}'
			x-init='$nextTick(() => {$store.status.statusData=statusData; $store.status.language = language})'>
			<div class="card crudbox accordion" id="{{ @templateVars.status.id }}" data-crudboxtype="references">
				<button class="card-header accordion-button collapsed"
					data-bs-toggle="collapse"
					data-bs-target="#cardBody_{{ @templateVars.status.id }}"
					aria-expanded="true"
					aria-controls="cardBody_{{ @templateVars.status.id }}">
					{{ @templateVars.status.title }}
					<span class="ms-3 badge rounded-pill" :class="{'bg-success-light': statusData.length > 0, 'bg-secondary': statusData.length == 0}" x-text="statusData.length"></span>
				</button>

				<div class="card-body collapse position-relative" id="cardBody_{{ @templateVars.status.id }}">

					<label for="dateStart_{{ @templateVars.status.id }}">{{ _tr('add') }}</label>
					<div class="input-group mb-4">
						<input type="date" class="form-control w-50" id="dateStart_{{ @templateVars.status.id }}" x-ref="dateStart" data-msgnovalue="{{ _tr('enterValue') }}">
						<select class="cat-select form-select w-30" data-msgnocategory="{{ _tr('msgNoCategory') }}" data-nosaveonchange="1" x-ref="statusCat">
							<option value="" data-url="">{{ _tr('category') }}</option>
							<repeat group="{{ @templateVars.status.categories }}" value="{{ @category }}">
								<option value="{{ @category.OBJSTAT_ID }}">{{ @category['objectstatus_' . @language] }}</option>
							</repeat>
						</select>
					</div>
					<div class="mb-4">
						<!-- bootstrap textarea -->
						<label for="statusComment_{{ @templateVars.status.id }}">{{ _tr('comment') }}</label>
						<textarea class="form-control" id="statusComment_{{ @templateVars.status.id }}" rows="3" data-nosaveonchange="1" x-ref="statusComment"></textarea>
					</div>
					<div class="mb-4">
						<button type="button" class="btn btn-secondary w-100" @click="$store.status.addStatus($refs.statusCat, $refs.dateStart, $refs.statusComment)" data-error="{{_tr('msgNoReference') }}">{{ _tr('add') }}</button>
					</div>

					<hr class="mb-4">

					<table class="table table-striped w-100 mb-4">
						<colgroup>
							<col style="width: 94%">
							<col style="width: 6%">
						</colgroup>
						<tbody>
							<template x-for="(status, index) in statusData">
								<tr>
									<td class="align-middle ps-3">
										<div>
											<span x-text="status.date_start != '' ? status.date_start + ', ' : ''"></span>
											<span x-text="status['objectstatus_' + language]"></span>
										</div>

										<template x-if="status.comment"><small x-text="status.comment"></small></template>
									</td>
									<td class="align-middle ps-3 text-end">
										<input type="hidden" :name="`{{ @templateVars.status.fieldName }}[${index}][OBJSTAT_ID]`" :value="status.OBJSTAT_ID" form="{{ @templateVars.status.formId }}">
										<input type="hidden" :name="`{{ @templateVars.status.fieldName }}[${index}][date_start]`" :value="status.date_start" form="{{ @templateVars.status.formId }}">
										<input type="hidden" :name="`{{ @templateVars.status.fieldName }}[${index}][comment]`" :value="status.comment" form="{{ @templateVars.status.formId }}">
										<button class="btn lh-1 fs-3 text-danger" @click="$store.status.deleteStatus(index)">&times;</button>
									</td>
								</tr>
							</template>
						</tbody>
					</table>


				</div>
			</div>
		</div>
	</true>
	<false>
		<div class="g-col-6 mb-4"
			x-data='{
			statusData:{{ @templateVars.status.data | raw}},
			language: "{{ @language }}"
		}'>
			<div class="card crudbox accordion" id="{{ @templateVars.status.id }}" data-crudboxtype="references">
				<button class="card-header accordion-button collapsed"
					data-bs-toggle="collapse"
					data-bs-target="#cardBody_{{ @templateVars.status.id }}"
					aria-expanded="true"
					aria-controls="cardBody_{{ @templateVars.status.id }}">
					{{ @templateVars.status.title }}
					<span class="ms-3 badge rounded-pill" :class="{'bg-success-light': statusData.length > 0, 'bg-secondary': statusData.length == 0}" x-text="statusData.length"></span>
				</button>

				<div class="card-body collapse position-relative" id="cardBody_{{ @templateVars.status.id }}">
					<ul class="list-unstyled striped">
						<template x-for="(status, index) in statusData">
							<li class="p-3">
								<div>
									<span x-text="status.date_start != '' ? status.date_start + ', ' : ''"></span>
									<span x-text="status['objectstatus_' + language]"></span>
								</div>

								<template x-if="status.comment"><small x-text="status.comment"></small></template>
							</li>
						</template>
					</ul>
				</div>
			</div>
		</div>
	</false>
</check>