<div class="g-col-6 mb-4"
	x-data="$store.objectActions"
	x-init='actions={{ @templateVars.actions.data | raw}}'>
	<div class="card crudbox accordion" id="{{ @templateVars.actions.id }}" data-crudboxtype="references">
		<button class="card-header accordion-button collapsed"
			data-bs-toggle="collapse"
			data-bs-target="#cardBody_{{ @templateVars.actions.id }}"
			aria-expanded="true"
			aria-controls="cardBody_{{ @templateVars.actions.id }}">
			{{ @templateVars.actions.title }} <span class="ms-3 badge rounded-pill" :class="{'bg-success-light': actions.length > 0, 'bg-secondary': actions.length == 0}" x-text="actions.length"></span>
		</button>

		<div class="card-body collapse position-relative" id="cardBody_{{ @templateVars.actions.id }}">
			<check if="{{ @templateVars.actions.readOnly == false }}">
				<true>
					<!-- Edit Actions -->
					<div class="mb-4">
						<label for="action">{{ _tr('addAction') }}</label>
						<select class="cat-select form-select w-100" data-error="{{_tr('msgNoCategory') }}" data-nosaveonchange="1" x-model="action" id="action">
							<option value="">{{ _tr('category') }}</option>
							<repeat group="{{ @templateVars.actions.actions }}" value="{{ @action }}">
								<option value="{{ @action.ACT_ID }}">{{ @action['action_name_' . @language] }}</option>
							</repeat>
						</select>
					</div>
					<fieldset class="mb-4 border" id="context" data-error="{{_tr('msgNoContext') }}">
						<legend class="px-3 d-inline-block w-auto">{{ _tr('context') }}</legend>
						<repeat group="{{ @templateVars.actions.context }}" value="{{ @ctx }}" counter="{{ @count }}">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="context" id="context{{ @count }}" value="{{ @ctx.value }}" x-model="context" @change="onContextChanged" data-nosaveonchange="1">
								<label class="form-check-label" for="context{{ @count }}">
									{{ @ctx.label }}
								</label>
							</div>
						</repeat>
					</fieldset>
					<div class="mb-4" x-show="context === 'text'">
						<label for="actorName" class="form-label">{{ _tr('freeText') }}</label>
						<textarea id="actorName" rows="3" class="form-control" data-nosaveonchange="1"></textarea>
					</div>
					<div class="mb-4" id="actionPersonSearch" x-show="context === 'person'">
						<div id="actionPersonSearchForm" data-searchwrapper="1" data-action="{{ 'personsearch' | alias }}">
							<label for="actionPersonSearchInput">{{ _tr('search') }} {{ _tr('person') }}</label>
							<template x-if="currPerson"><strong class="d-block mb-2 text-success" x-text="currPerson"></strong></template>
							<div class="input-group">
								<input type="text" id="actionPersonSearchInput" class="form-control" data-searchfield="1" autocomplete="new-password">
								<button type="button" class="btn btn-secondary" data-searchbutton="1">{{ _tr('search') }}</button>
							</div>
							<div id="actionPersonSearchResult" data-nostore="1" class="collapse nhm-search-result position-absolute border p-4 rounded bg-white"></div>
						</div>
					</div>
					<div id="actionInstituteSearch" x-show="context === 'institute'">
						<div class="mb-4" id="actionInstituteSearchForm" data-searchwrapper="1" data-action="{{ 'institutesearch' | alias }}">
							<label for="actionInstituteSearchInput">{{ _tr('search') }} {{ _tr('institute') }}</label>
							<template x-if="currInstitute"><strong class="d-block mb-2 text-success" x-text="currInstitute"></strong></template>
							<div class="input-group">
								<input type="text" name="institute-search" id="actionInstituteSearchInput" class="form-control" data-searchfield="1" autocomplete="off">
								<button type="button" class="btn btn-secondary" data-searchbutton="1">{{ _tr('search') }}</button>
							</div>
							<div id="actionInstituteSearchResult" data-nostore="1" class="collapse nhm-search-result position-absolute border p-4 rounded bg-white"></div>
						</div>
					</div>
					<div class="mb-4">
						<label for="actionStart" class="form-label">{{ _tr('date') }}</label>
						<input type="date" name="action_start" id="actionStart" class="form-control">
					</div>
					<div class="mb-4">
						<label for="comment" class="form-label">{{ _tr('comment') }}</label>
						<textarea name="free_text" id="comment" rows="3" class="form-control" x-ref="comment" data-nosaveonchange="1"></textarea>
					</div>
					<div class="mb-4">
						<button type="button" class="btn btn-secondary w-100" @click="addAction">{{ _tr('add') }}</button>
					</div>
					<hr class="mb-4">
					<ul class="list-unstyled striped">
						<template x-for="(action, index) in actions">
							<li class="mb-3 crudbox-entry d-flex justify-content-between align-items-center input-group border-bottom py-2 mb-3">
								<input type="hidden" :name="`object_action[${index}][ACT_ID]`" :value="action.ACT_ID" form="{{ @templateVars.actions.formId }}">
								<input type="hidden" :name="`object_action[${index}][PERS_ID]`" :value="action.PERS_ID" form="{{ @templateVars.actions.formId }}">
								<input type="hidden" :name="`object_action[${index}][INST_ID]`" :value="action.INST_ID" form="{{ @templateVars.actions.formId }}">
								<input type="hidden" :name="`object_action[${index}][actor_name]`" :value="action.actor_name" form="{{ @templateVars.actions.formId }}">
								<input type="hidden" :name="`object_action[${index}][action_start]`" :value="action.action_start" form="{{ @templateVars.actions.formId }}">
								<input type="hidden" :name="`object_action[${index}][comment]`" :value="action.comment" form="{{ @templateVars.actions.formId }}">
								<div class="crudbox-entry-text flex-grow-1 w-75 px-3">
									<div>
										<strong>{{ _tr('action') }}:</strong>
										<span x-text="action.action_name"></span>
									</div>
									<template x-if="action.actor_name">
										<div>
											<strong>{{ _tr('freeText') }}:</strong>
											<span x-text="action.actor_name"></span>
										</div>
									</template>
									<template x-if="action.person_fullname">
										<div>
											<strong>{{ _tr('person') }}:</strong>
											<a :href="`{{ 'person' | alias }}/${action.PERS_ID}`" x-text="action.person_fullname"></a>
										</div>
									</template>
									<template x-if="action.institute_name">
										<div>
											<strong>{{ _tr('institute') }}:</strong>
											<a :href="`{{ 'person' | alias }}/${action.INST_ID}`" x-text="action.institute_name"></a>
										</div>
									</template>
									<template x-if="action.action_start">
										<div>
											<strong>{{ _tr('start') }}:</strong>
											<span x-text="action.action_start"></span>
										</div>
									</template>
									<template x-if="action.comment">
										<div>
											<strong>{{ _tr('comment') }}:</strong>
											<span x-text="action.comment"></span>
										</div>
									</template>
								</div>
								<button type="button" class="btn lh-1 fs-3 text-danger" title="{{ _tr('delete') }}" @click="deleteAction(index)">&times;</button>
							</li>
						</template>
					</ul>
				</true>
				<false>
					<!-- readonly actions -->
					<ul class="list-unstyled striped">
						<ul class="list-unstyled">
							<template x-for="(action, index) in actions">
								<li class="mb-3 crudbox-entry d-flex justify-content-between align-items-center input-group border-bottom py-2 mb-3">
									<div class="crudbox-entry-text flex-grow-1 w-75 px-3">
										<div>
											<strong>{{ _tr('action') }}:</strong>
											<span x-text="action.action_name"></span>
										</div>
										<template x-if="action.actor_name">
											<div>
												<strong>{{ _tr('freeText') }}:</strong>
												<span x-text="action.actor_name"></span>
											</div>
										</template>
										<template x-if="action.person_fullname">
											<div>
												<strong>{{ _tr('person') }}:</strong>
												<span x-text="action.person_fullname"></span>
											</div>
										</template>
										<template x-if="action.institute_name">
											<div>
												<strong>{{ _tr('institute') }}:</strong>
												<span x-text="action.institute_name"></span>
											</div>
										</template>
										<template x-if="action.action_start">
											<div>
												<strong>{{ _tr('start') }}:</strong>
												<span x-text="action.action_start"></span>
											</div>
										</template>
										<template x-if="action.comment">
											<div>
												<strong>{{ _tr('comment') }}:</strong>
												<span x-text="action.comment"></span>
											</div>
										</template>
									</div>
								</li>
							</template>
						</ul>
					</ul>
				</false>
			</check>
		</div>
	</div>
</div>