<div class="g-col-6 mb-4" x-data="$store.objectStorage" x-init='storage = {{ @templateVars.storage.data | raw}}'>
	<div class="card crudbox accordion" id="{{ @templateVars.storage.id }}" data-crudboxtype="references">
		<button class="card-header accordion-button collapsed"
			data-bs-toggle="collapse"
			data-bs-target="#cardBody_{{ @templateVars.storage.id }}"
			aria-expanded="true"
			aria-controls="cardBody_{{ @templateVars.storage.id }}">
			{{ @templateVars.storage.title }}
			<span class="ms-3 badge rounded-pill" :class="{'bg-success-light': storage.length > 0, 'bg-secondary': storage.length == 0}" x-text="storage.length"></span>
		</button>

		<div class="card-body collapse position-relative" id="cardBody_{{ @templateVars.storage.id }}">
			<check if="{{ @templateVars.storage.readOnly == false }}">
				<true>
					<div id="storageSearch">
						<div class="mb-4" id="storageSearchForm" data-searchwrapper="1" data-action="{{ 'storageSearch' | alias }}">
							<label for="storageSearchInput" class="mb-2">{{ _tr('location') }}</label>
							<template x-if="currText"><strong class="d-block mb-2 text-success" x-text="currText"></strong></template>
							<div class="input-group">
								<input type="text" name="storage-search" id="storageSearchInput" class="form-control" data-searchfield="1" autocomplete="off">
								<button type="button" class="btn btn-secondary" data-searchbutton="1">{{ _tr('search') }}</button>
							</div>
							<div id="storageSearchResult" data-nostore="1" class="collapse nhm-search-result position-absolute border p-4 rounded bg-white"></div>
						</div>
					</div>
					<div class="mb-4">
						<label for="storageDateStart" class="form-label">{{ _tr('date') }}</label>
						<input type="date" id="storageDateStart" class="form-control">
					</div>
					<div class="mb-4">
						<label for="storageDetails" class="form-label">Details</label>
						<input type="text" id="storageDetails" class="form-control">
					</div>
					<div class="mb-4">
						<button type="button" class="btn btn-secondary w-100" @click="addStorage($el)" data-error="{{_tr('msgNoStorage') }}">{{ _tr('add') }}</button>
					</div>
					<hr class="mb-4">
					<ul class="list-unstyled striped">
						<template x-for="(stor, index) in storage">
							<li class="mb-3 crudbox-entry d-flex justify-content-between align-items-start input-group border-bottom py-2 mb-3">
								<input type="hidden" :name="`object_storage[${index}][STOR_ID]`" :value="stor.STOR_ID" form="{{ @templateVars.storage.formId }}">
								<input type="hidden" :name="`object_storage[${index}][date_start]`" :value="stor.date_start" form="{{ @templateVars.storage.formId }}">
								<input type="hidden" :name="`object_storage[${index}][details]`" :value="stor.details" form="{{ @templateVars.storage.formId }}">
								<div class="crudbox-entry-text flex-grow-1 w-75 px-3">
									<div x-text="stor.storage_path"></div>
									<template  x-if="stor.date_start">
										<div>
											<strong>{{ _tr('start') }}:</strong>
											<span x-text="stor.date_start"></span>
										</div>
									</template>
									<template  x-if="stor.details">
										<div>
											<strong>Details:</strong>
											<span x-text="stor.details"></span>
										</div>
									</template>
								</div>
								<button type="button" class="btn lh-1 fs-3 text-danger" title="{{ _tr('delete') }}" @click="deleteStorage(index)">&times;</button>
							</li>
						</template>
					</ul>
				</true>
				<false>
					<ul class="list-unstyled striped">
						<template x-for="(stor, index) in storage">
							<li class="mb-3 crudbox-entry border-bottom py-2 mb-3">
								<div class="crudbox-entry-text flex-grow-1 w-75 px-3">
									<div class="crudbox-entry-text px-3 flex-grow-1 w-75">
										<div x-text="stor.storage_path"></div>
										<template  x-if="stor.date_start">
											<div>
												<strong>{{ _tr('start') }}:</strong>
												<span x-text="stor.date_start"></span>
											</div>
										</template>
										<template x-if="stor.date_end">
											<div>
												<strong>{{ _tr('end') }}:</strong>
												<span x-text="stor.date_end"></span>
											</div>
										</template>
									</div>
								</div>
							</li>
						</template>
					</ul>
				</false>
			</check>
		</div>
	</div>
</div>