<div id="storageTree"
	data-msgdouble="{{ 'doubleEntry' | _tr }}"
	@resetsearch.window="reset()"
	x-init="$nextTick(() => msgDoubleEntry = $el.dataset.msgdouble)">
	<label for="storageSearchInput">{{ _tr('search') }}</label>
	<div class="mb-4" data-searchform="1" id="storageSearch">
		<div class="input-group">
			<input type="text"
				class="form-control"
				data-searchfield="1"
				autocomplete="off"
				data-nosaveonchange="1"
				id="storageSearchInput">
			<button class="btn btn-secondary" type="submit">{{ _tr('search') }}</button>
		</div>
		<div id="storageSearchResult" data-nostore="1" class="collapse nhm-search-result position-absolute border p-4 rounded bg-white" @click="addEntry($event)"></div>
	</div>

	<div id="storageSelection" class="mb-4">
		<ul class="list-group crudbox-entries list-unstyled striped" data-empty-text="No entries yet" data-crudboxlist="1">
			<template x-for="(entry, index) in storage">
				<li class="mb-1 crudbox-entry d-flex justify-content-between align-items-center border-bottom border-bottom py-1">
					<input type="hidden" name="storage[]" :value="entry.id">
					<span class="crudbox-entry-text px-3" x-text="entry.name"></span>
					<button type="button" class="btn lh-1 fs-3 text-danger" data-delete="1" title="Delete" @click="deleteEntry(index)">×</button>
				</li>
			</template>
		</ul>
	</div>

	<div class="mb-5 py-4 border overflow-auto tree-wrapper"
		data-treeselect="1"
		data-treeurl="{{ 'storageObjectsTreeJSON', 'nodeid=0'  | alias }}"
		data-searchurl="{{ 'storageSearch' | alias }}"
		@click="addEntry($event)">
	</div>
</div>