<check if="{{ @formField->readOnly == false }}">
	<true>
		<div class="card crudbox object-systematics accordion w-100" id="systematic_{{ @templateVars.id }}"
			data-selectiondata='{"key": "systematic_{{ @templateVars.id }}", "display_as": "{{ @templateVars.display_as }}"}'
			x-data='{
				entries:{{ @templateVars.value }},
				currentSelection: {text: "", id: null},
				preferredEntry: "{{ str_contains(@templateVars.preferred, '/') ? substr(@templateVars.preferred, strrpos(@templateVars.preferred, '/') + 1) : @templateVars.preferred }}",
				messages: {
					doubleEntry: "{{ _tr('doubleEntry') }}"
				}
			}'
			x-init="$nextTick(() => $store.systematics.addSystematic(entries, currentSelection, messages, $root.id))">
			<button class="card-header accordion-button align-items-start collapsed"
				data-bs-toggle="collapse"
				data-bs-target="#cardBody_{{ @templateVars.id }}"
				aria-expanded="true"
				aria-controls="cardBody_{{ @templateVars.id }}">
				{{ @templateVars.title }}
				<template x-if="preferredEntry !== ''">
					<small x-text="preferredEntry" class="ps-3 fst-italic"></small>
				</template>
				<span class="mx-3 badge rounded-pill bg-success-light" :class="{'bg-success-light': entries.length > 0, 'bg-secondary': entries.length == 0}" x-text="entries.length">3</span>
			</button>
			<div class="card-body position-relative collapse pb-5" id="cardBody_{{ @templateVars.id }}">
				<div class="mb-4 w-50">
					<label for="systematicsSearch_{{ @templateVars.id }}">{{ _tr('search') }}</label>
					<div class="mb-4" id="systematicsSearchForm_{{ @templateVars.id }}" data-searchform="{{ @templateVars.systId }}">
						<div class="input-group">
							<input type="text" id="systematicsSearch_{{ @templateVars.id }}" class="form-control" data-searchfield="1" autocomplete="off" data-nosaveonchange="1">
							<button class="btn btn-secondary" type="submit">{{ _tr('search') }}</button>
						</div>
						<div id="systematicsSearchResult_{{ @templateVars.id }}" class="collapse nhm-search-result position-absolute border p-4 rounded bg-white" data-nosavestate="1">
						</div>
					</div>
				</div>

				<strong>{{ _tr('hierarchy') }}</strong>
				<div id="systematicsTree_{{ @templateVars.id }}" class="mb-5 py-4 border overflow-auto tree-wrapper"
					data-treeselect="1"
					data-treeurl="{{ 'systematicsTreeJSON', 'thesaurus=' . @templateVars.systId . ',node=""'  | alias }}"
					data-searchurl="{{ 'searchThesaurus', 'thesaurus=' . @templateVars.systId | alias }}">
				</div>
				<div class="row">
					<div class="mb-4 col col-md-6">
						<label for="dateStart_{{ @templateVars.id }}" class="form-label">{{ _tr('date') }}</label>
						<input type="text" id="dateStart_{{ @templateVars.id }}" class="form-control date-special" data-nosaveonchange="1" data-appendfield="date_start" data-appendvalue="" @change="$el.dataset.appendvalue = $el.value" placeholder="YYYY-MM-DD">
						<div><small>{{ _tr('dateSpecial') }}</small></div>
					</div>
				</div>
				<check if="{{ @templateVars.display_as === 'taxonomy' }}">
					<!-- additional fields for taxonomy -->
					<div class="row mb-4">
						<div class="col" id="publicationSearch_{{ @templateVars.id }}" data-taxonomysearch="publicationSearch_{{ @templateVars.id }}">
							<label for="publicationSearchInput_{{ @templateVars.id }}">{{ _tr('search') . ' ' . _tr('publication')}} </label>
							<div class="mb-4" id="publicationSearchForm_{{ @templateVars.id }}" data-searchwrapper="1" data-action="{{ 'publicationsearch' | alias }}">
								<div class="input-group">
									<input type="text" id="publicationSearchInput_{{ @templateVars.id }}" class="form-control" data-searchfield="1" autocomplete="new-password" placeholder="{{ _tr('search') }}">
									<button type="button" class="btn btn-secondary" data-searchbutton="1">{{ _tr('search') }}</button>
								</div>
								<div id="publicationSearchResult_{{ @templateVars.id }}" class="collapse nhm-search-result position-absolute border p-4 rounded bg-white">
								</div>
							</div>

							<div class="search-selection bg-light lh-lg text-success rounded" data-nosaveonchange="1" x-show="true">
								<input type="hidden" data-nosaveonchange="1" data-appendfield="PUB_ID" data-appendvalue="" data-searchid="1">
								<span data-appendfield="publication_title" data-appendvalue="" data-searchtext="1"></span>
							</div>
						</div>
						<div class="col">
							<label for="pubDetails{{ @templateVars.id }}" class="form-label">{{ _tr('publicationDetails') }}</label>
							<textarea id="pubDetails{{ @templateVars.id }}" class="form-control" data-nosaveonchange="1" data-appendfield="publication_details" data-appendvalue="" @input="$el.dataset.appendvalue = $el.value"></textarea>
						</div>
					</div>
					<div class="row mb-5">
						<div class="col" id="personSearch_{{ @templateVars.id }}" data-taxonomysearch="personSearch_{{ @templateVars.id }}">
							<label for="personSearchInput_{{ @templateVars.id }}">{{ _tr('determinedBy') }}</label>
							<div class="mb-4" id="personSearchForm_{{ @templateVars.id }}" data-searchwrapper="1" data-action="{{ 'personsearch' | alias }}">
								<div class="input-group">
									<input type="text" id="personSearchInput_{{ @templateVars.id }}" class="form-control" data-searchfield="1" autocomplete="new-password" placeholder="{{ _tr('search') }}">
									<button type="button" class="btn btn-secondary" data-searchbutton="1">{{ _tr('search') }}</button>
								</div>
								<div id="personSearchResult" data-nostore="1" class="collapse nhm-search-result position-absolute border p-4 rounded bg-white">
								</div>
							</div>

							<div class="search-selection bg-light bg-light lh-lg text-success rounded" data-nosaveonchange="1">
								<input type="hidden" data-nosaveonchange="1" data-appendfield="PERS_ID" data-appendvalue="" data-searchid="1">
								<span data-appendfield="full_name" data-appendvalue="" data-searchtext="1"></span>
							</div>
						</div>
						<div class="col-md-6 col">
							<label for="taxontype{{ @templateVars.id }}" class="form-label">Typus</label>
							<select id="taxontype{{ @templateVars.id }}" class="form-select mb-5" data-nosaveonchange="1" data-appendfield="TYPCAT_ID" data-appendvalue="" @change="$el.dataset.appendvalue = $el.value; $refs.typusName.dataset.appendvalue=$el.options[$el.selectedIndex].innerText">
								<option value="">===</option>
								<repeat group="{{ @typus }}" value="{{ @val }}">
									<option value="{{ @val.TYPCAT_ID }}">{{ @val.typus_name }}</option>
								</repeat>
							</select>
							<input type="hidden" data-nosaveonchange="1" data-appendfield="typus_name" data-appendvalue="" x-ref="typusName">
						</div>
					</div>
				</check>

				<template x-if="currentSelection.text !== ''">
					<div class="mb-4 d-flex justify-content-between bg-light p-3 rounded">
						<div><strong x-text="currentSelection.text"></strong></div>
						<button class="btn btn-primary" @click="$store.systematics.addEntry($root.id, '{{ @templateVars.display_as }}')">{{ _tr('add') }}</button>
					</div>
				</template>

				<hr class="mb-4">

				<template x-if="entries.length > 0"><strong>{{ _tr('selected') }}</strong></template>
				<div class="systematics-selected mb-5">
					<check if="{{ @templateVars.display_as === 'single' }}">
						<table class="table table-striped w-100 mb-4">
							<colgroup>
								<col style="width: 94%">
								<col style="width: 6%">
							</colgroup>
							<tbody>
								<template x-if="entries.length > 0">
									<tr>
										<td class="align-middle ps-3" x-html="`${entries[0].node_name} <br> ${ entries[0].date_start}`"></td>
										<td class="align-middle ps-3 text-end">
											<input type="hidden" :name="`fields[{{ @templateVars.id }}][value][0][NODE_ID]`" :value="entries[0].NODE_ID">
											<input type="hidden" :name="`fields[{{ @templateVars.id }}][value][0][date_start]`" :value="entries[0].date_start">
											<button class="btn lh-1 fs-3 text-danger" @click="$store.systematics.deleteEntry(0, $root.id)">&times;</button>
										</td>
									</tr>
								</template>
							</tbody>
						</table>
					</check>

					<check if="{{ @templateVars.display_as === 'multiple' }}">
						<table class="table table-striped w-100 mb-4">
							<colgroup>
								<col style="width: 94%">
								<col style="width: 6%">
							</colgroup>
							<tbody>
								<template x-for="(entry, index) in entries">
									<tr>
										<td class="align-middle ps-3" x-html="`${entries[0].node_name} <br> ${ entries[0].date_start}`"></td>
										<td class="align-middle ps-3">
											<input type="hidden" :name="`fields[{{ @templateVars.id }}][value][${index}][NODE_ID]`" :value="entry.NODE_ID">
											<input type="hidden" :name="`fields[{{ @templateVars.id }}][value][${index}][date_start]`" :value="entry.date_start">
											<button class="btn lh-1 fs-3 text-danger" @click="$store.systematics.deleteEntry(index, $root.id)">&times;</button>
										</td>
									</tr>
								</template>
							</tbody>
						</table>
					</check>

					<check if="{{ @templateVars.display_as === 'multiple-preferred' }}">
						<table class="table table-striped w-100 mb-4">
							<colgroup>
								<col style="width: 94%">
								<col style="width: 6%">
							</colgroup>
							<tbody>
								<template x-for="(entry, index) in entries">
									<tr>
										<td class="align-middle ps-3" x-html="`${entries[0].node_name} <br> ${ entries[0].date_start}`"></strong></td>
										<td class="align-middle ps-3">
											<input type="hidden" :name="`fields[{{ @templateVars.id }}][value][${index}][NODE_ID]`" :value="entry.NODE_ID">
											<input type="hidden" :name="`fields[{{ @templateVars.id }}][value][${index}][date_start]`" :value="entry.date_start">
											<input type="radio" :name="`fields[{{ @templateVars.id }}][is_preferred]`" @click="$store.systematics.setIsPreferred(index, $root.id)" :checked="entry.is_preferred == 1" :value="entry.NODE_ID">
										</td>
										<td class="align-middle ps-3"><button class="btn lh-1 fs-3 text-danger" @click="$store.systematics.deleteEntry(index, $root.id)">&times;</button></td>
									</tr>
								</template>
							</tbody>
						</table>
					</check>

					<check if="{{ @templateVars.display_as === 'taxonomy' }}">
						<table class="table table-striped w-100 mb-4">
							<colgroup>
								<col style="width: 88%">
								<col style="width: 6%">
								<col style="width: 6%">
							</colgroup>
							<tbody>
								<template x-for="(entry, index) in entries">
									<tr>
										<td class="align-middle ps-3">
											<div><strong>Taxon: </strong><span x-text="entry.node_name"></span></div>
											<template x-if="entry.date_start">
												<div>
													<strong>{{ _tr('date') }}: </strong><span x-text="entry.date_start"></span>
												</div>
											</template>
											<template x-if="entry.full_name">
												<div>
													<strong>{{ _tr('determinedBy') }}: </strong>
													<a :href="`{{ 'person' | alias }}/${entry.PERS_ID}`" x-text="entry.full_name"></a>
												</div>
											</template>
											<template x-if="entry.publication_title">
												<div>
													<strong>{{ _tr('publicationTitle') }}: </strong>
													<a :href="`{{ 'publication' | alias }}/${entry.PUB_ID}`" x-text="entry.publication_title"></a>
												</div>
											</template>
											<template x-if="entry.publication_details">
												<div><strong>Details: </strong><span x-text="entry.publication_details"></span></div>
											</template>
											<template x-if="entry.typus_name">
												<div><strong>Typus: </strong><span x-text="entry.typus_name"></span></div>
											</template>
										</td>
										<td class="align-top ps-3 pt-3">
											<input type="hidden" :name="`fields[{{ @templateVars.id }}][value][${index}][is_preferred]`" value="0">
											<span class="form-check form-switch">
												<input type="checkbox" class="form-check-input" role="switch"
													:name="`fields[{{ @templateVars.id }}][value][${index}][is_preferred]`"
													:data-preferredvalue="entry.node_name"
													@change="$store.systematics.setIsPreferred(index, $root.id, $el.checked); $el.checked == true ? preferredEntry=/[^/]*$/.exec($el.dataset.preferredvalue)[0] : preferredEntry='';"
													:checked="entry.is_preferred"
													value="1"
													data-nosaveonchange="1">
											</span>
											<input type="hidden" :name="`fields[{{ @templateVars.id }}][value][${index}][NODE_ID]`" :value="entry.NODE_ID">
											<input type="hidden" :name="`fields[{{ @templateVars.id }}][value][${index}][date_start]`" :value="entry.date_start">
											<input type="hidden" :name="`fields[{{ @templateVars.id }}][value][${index}][publication_details]`" :value="entry.publication_details">
											<input type="hidden" :name="`fields[{{ @templateVars.id }}][value][${index}][PUB_ID]`" :value="entry.PUB_ID">
											<input type="hidden" :name="`fields[{{ @templateVars.id }}][value][${index}][TYPCAT_ID]`" :value="entry.TYPCAT_ID">
											<input type="hidden" :name="`fields[{{ @templateVars.id }}][value][${index}][PERS_ID]`" :value="entry.PERS_ID">
										</td>
										<td class="align-top ps-3"><button class="btn lh-1 fs-3 text-danger  pt-0" @click="$store.systematics.deleteEntry(index, $root.id)">&times;</button></td>
									</tr>
								</template>
							</tbody>
						</table>
					</check>
				</div>
			</div>
		</div>
	</true>
	<false>
		<div class="card crudbox object-systematics accordion w-100" id="systematic_{{ @templateVars.id }}"
			data-selectiondata='{"key": "systematic_{{ @templateVars.id }}", "display_as": "{{ @templateVars.display_as }}"}'
			x-data='{entries:{{ @templateVars.value }}, preferredEntry: "{{ str_contains(@templateVars.preferred, '/') ? substr(@templateVars.preferred, strrpos(@templateVars.preferred, '/') + 1) : @templateVars.preferred }}"}'>
			<button class="card-header accordion-button align-items-start"
				data-bs-toggle="collapse"
				data-bs-target="#cardBody_{{ @templateVars.id }}"
				aria-expanded="true"
				aria-controls="cardBody_{{ @templateVars.id }}">
				{{ @templateVars.title }}
				<template x-if="preferredEntry !== ''">
					<small x-text="preferredEntry" class="ps-3 fst-italic"></small>
				</template>
				<span class="mx-3 badge rounded-pill bg-success-light" :class="{'bg-success-light': entries.length > 0, 'bg-secondary': entries.length == 0}" x-text="entries.length">3</span>
			</button>
			<div class="card-body position-relative pb-5" id="cardBody_{{ @templateVars.id }}">
				<check if="{{ @templateVars.display_as === 'taxonomy' }}">
					<table class="table table-striped w-100 mb-4">
						<colgroup>
							<col style="width: 94%">
							<col style="width: 6%">
						</colgroup>
						<tbody>
							<template x-for="(entry, index) in entries">
								<tr>
									<td class="align-middle ps-3">
										<div><strong>Taxon: </strong><span x-text="entry.node_name"></span></div>
										<template x-if="entry.date_start">
											<div>
												<strong>{{ _tr('date') }}: </strong><span x-text="entry.date_start"></span>
											</div>
										</template>
										<template x-if="entry.full_name">
											<div>
												<strong>{{ _tr('determinedBy') }}: </strong>
												<a :href="`{{ 'person' | alias }}/${entry.PERS_ID}`" x-text="entry.full_name"></a>
											</div>
										</template>
										<template x-if="entry.publication_title">
											<div><strong>{{ _tr('publicationTitle') }}: </strong><span x-text="entry.publication_title"></span></div>
										</template>
										<template x-if="entry.publication_details">
											<div><strong>Details: </strong><span x-text="entry.publication_details"></span></div>
										</template>
										<template x-if="entry.typus_name">
											<div><strong>Typus: </strong><span x-text="entry.typus_name"></span></div>
										</template>
									</td>
									<td class="align-top ps-3 pt-3">
										<span class="form-check form-switch">
											<input type="checkbox" class="form-check-input" role="switch" disabled :checked="entry.is_preferred">
										</span>
									</td>
								</tr>
							</template>
						</tbody>
					</table>
				</check>
				<check if="{{ @templateVars.display_as === 'multiple' }}">
					<ul class="list-unstyled striped">
						<template x-for="(entry, index) in entries">
							<li class="align-middle p-3" x-text="entry.node_name"></li>
						</template>
					</ul>
				</check>

				<check if="{{ @templateVars.display_as === 'single' }}">
					<template x-if="entries.length > 0">
						<ul class="list-unstyled striped">
							<li class="p-3" x-text="entries[0].node_name"></li>
						</ul>
					</template>
				</check>

			</div>
		</div>
	</false>
</check>