<header class="mb-5">
	<div class="container">
		<div class="d-flex flex-wrap justify-content-between py-3 mb-4 border-bottom">
			<a class="logo d-block w-25" href="{{ 'home' | alias }}" title="NHMW - Collection Database">
				<img src="/resources/images/nhmw-logo-iiif.svg" class="img-fluid d-block">
			</a>
			<button class="toggle-menu col-1 d-lg-none" type="button" data-bs-toggle="offcanvas"
				data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">
				<i class="fas fa-bars"></i>
			</button>

			<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
				<div class="offcanvas-header d-flex justify-content-end">
					<button type="button" class="btn-close btn-lg m-2 text-reset" data-bs-dismiss="offcanvas"
						aria-label="{{ 'close' | _tr}}"></button>
				</div>
				<div class="offcanvas-body pt-5">
					<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
						<li class="release-switch nav-item d-lg-block">
							<a href="/" class="nav-link">Home</a>
						</li>
						<li class="nav-item"><a class="nav-link " href="{{ 'home' | alias }}">{{ 'objectAssistant' | _tr }}</a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								{{ _tr('languages') }}
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li class="my-2">
									<a class="dropdown-item{{  @LANGUAGE == 'de,en' ? ' active' : '' }}" href="/language/de">Deutsch</a>
								</li>
								<li class="my-2">
									<a class="dropdown-item{{  @LANGUAGE == 'en' ? ' active' : '' }}" href="/language/en">English</a>
								</li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								{{ _tr('manageData') }}
							</a>
							<ul class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
								<li class="mb-3"><a class="dropdown-item" href="{{ 'home' | alias }}">Home</a></li>
							</ul>
						</li>
						<li class="nav-item"><a class="nav-link " href="{{ 'help' | alias }}">{{ 'help' | _tr }}</a></li>
					</ul>
				</div>
			</div>


			<nav class="navbar navbar-expand-lg justify-content-between d-none d-lg-flex" id="navbar--desktop">
				<ul class="navbar-nav main-nav">
					<li class="nav-item"><a class="nav-link " href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link " href="{{ 'home' | alias }}">{{ 'home' | _tr }}</a></li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							{{ _tr('manageData') }}
						</a>
						<div class="dropdown-menu mega-menu p-4" aria-labelledby="navbarDropdown">
							<ul class="list-unstyled">
								<li class="my-4"><a class="dropdown-item" href="{{ 'home' | alias }}">Home</a></li>
							</ul>
							<ul class="list-unstyled ms-5">
								<li class="my-4"><a class="dropdown-item" href="{{ 'home' | alias}}">{{ 'home' | _tr }}</a></li>
							</ul>
							<ul class="list-unstyled ms-5">
								<li class="my-4"><a class="dropdown-item" href="{{ 'translation' | alias}}">{{ 'translations' | _tr }}</a></li>
							</ul>
						</div>
					</li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							{{ _tr('languages') }}
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li class="my-2">
								<a class="dropdown-item{{  @LANGUAGE == 'de,en' ? ' active' : '' }}" href="/language/de">Deutsch</a>
							</li>
							<li class="my-2">
								<a class="dropdown-item{{  @LANGUAGE == 'en' ? ' active' : '' }}" href="/language/en">English</a>
							</li>
						</ul>
					</li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link " href="{{ 'help' | alias }}">{{ 'help' | _tr }}</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<check if="{{ isset(@actionbar) }}">
		<include href="{{ @tpl_views . 'actionbars/' . @actionbar }}">
	</check>
</header>