
<!-- <exclude><footer>
	<div class="container">
		<div class="row">

				<div class="col-12 col-lg-6 align-self-center">Naturhistorisches Museum Wien © {{ date('Y') }} <a
						href="https://www.nhm-wien.ac.at/museum/umweltzeichen" class="link-no-icon"><img
							src="/resources/images/uz-logo_transparent.png" width="70px"></a><a
						href="https://www.nhm-wien.ac.at/museum/echocast" class="link-no-icon"><img src="/resources/images/echocast-small.png"
							width="70px"></a></div>
				<div class="col-12 col-lg-6 align-self-center">
					<div class="footer-nav">
						<ul class="nav">
							<li class="nav-item"><a class="nav-link" href="/impressum">Impressum</a></li>
							<li class="nav-item"><a class="nav-link" href="/datenschutz">Datenschutz</a></li>
							<li class="nav-item"><a class="nav-link"
									href="/barrierefreiheitserklaerung">Barrierefreiheitserklärung</a></li>
							<li class="nav-item"><a class="nav-link btnShowCookieDialog" href="#">Cookies</a></li>
						</ul>
					</div>
				</div>

		</div>
	</div>
</footer>
</exclude> -->